/* styles.css */
.yellow-line {
  background-color: #FCAF03; /* Color amarillo */
  height: 5px; /* Altura de la línea */
}

.navbar {
  position: absolute;
  top: 10px; /* Ajuste el valor según sea necesario */
  width: 100%;
}



.title{
  color: #FCAF03;
  font-size: 60px;
  font-weight: bolder;
  margin-bottom: 40px;
}

.title2{
  color: #FCAF03;
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 30px;
}

.espacio {
  padding-bottom: 150px;
  border-bottom: 1px solid transparent; 

}

.space2{
  padding-bottom: 200px;
  border-bottom: 1px solid transparent; 

}


.title3{
  color: #FCAF03;
  font-size: 25px;

}

.big {
  text-align: justify;
}
